.CartArea{
  margin-top: 120px;
  width: 70%;
  height: 100%;
  margin-left: 15%;
}
.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cartItem {
  width: 700px;
  height: 250px;
  display: flex;
  background-color: white;
  align-items: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin: 30px;
}

.cartItem img {
  height: 180px;
  width: 200px;
  border: none;
  display: block;
  border-radius: 20px;
  transform: none;
  outline: none;
  margin-left: 20px;
}
.cartItem .description {
  margin-left: 10px;
  width: 100%;
  font-size: 30px;
}
.countHandler input {
  width: 60px;
  padding: 5px;
  text-align: center;
  font-weight: bolder;
}

.checkout button {
  width: 150px;
  height: 50px;
  background-color: rgb(19, 19, 19);
  color: white;
  border: none;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
}
.countHandler button{
  padding: 5px;
}