.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  height: 80px;
  width: 100%;
  /* background-image: linear-gradient(175deg,  rgba(67, 203, 255,0.9), rgba(151, 8, 204,0.9));
  transition: all 0.4s ease; */
  background-color: rgb(249, 249, 249);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
  top: 0%;
  }
  .navbar p{
    display: block;
  padding: 10px 20px;
  text-decoration: none;
  /* color: white; */
  color: black;
  font-size: 2rem;
  font-weight: bold;
  }
  .navbar .logo-shop{
    display: flex;
  list-style: none;
  /* margin-top: 10px; */
  }
  .navbar .logo-shop .texttitle{
    /* color: white; */
    color: black;
    font-size: 20px;
    font-family:Verdana;
    transition: .4s;
    transform: .2s ease;
  }
   .logo-shop .texttitle:hover{
    color:lightskyblue;
    transition-delay: .1s;
    transform:scale(1.3);
  }
  .navbar-brand {
  font-size: 1.5rem;
  margin-left: 10px;
  }
  .navbar-search {
  display: flex;
  align-items: center;
  margin-right: 20px;
  }
  .search-form {
  display: flex;
  align-items: center;
  }
  .search-input {
  border: none;
  border-radius: 12px;
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 1.2rem;
  background-color: transparent;
  outline: none;
  /* color: #f9f9f9; */
  color: black;
  /* border:#f9f9f9 solid 2px; */
  border:black solid 2px;
  transition: .4s;
  }
  .search-input::placeholder{
    color: rgba(0, 0, 0,0.8);
  }
  .search-input:hover{
    border:lightskyblue solid 2px;
    transition-delay: .1s;
  }
  .search-button {
  border: none;
  border-radius: 12px;
  background-color: transparent;
  padding: 10px 20px;
  outline: none;
  cursor: pointer;
  font-size: 1.2rem;
  /* color: #f9f9f9; */
  color: black;
  /* border: 2px #f9f9f9 solid; */
  border: 2px black solid;
  transition: .4s;
  }
  .search-button:hover,
  .search-button:focus {
  /* color: white; */
  color: grey;
  transition-delay: .1s;
  border:lightskyblue solid 2px;
  }
  .navbar-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 60px;
  }
  .navbar-item {
  margin-right: 10px;
  }
  .navbar-item a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  /* color: white; */
  color: black;
  font-size: 1rem;
  font-weight: bold;
  transition: .4s;
  transform: .2s;
  font-family:Verdana;
  }
  .navbar-item a:hover {
    transition-delay: .1s;
    transform: scale(1.2);
    color:lightskyblue;
  }
  .loginArea{
    margin-left: 10px;
    
  }
  .loginB{
    border: none;
    
    background-color: transparent;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
    font-size: 1.2rem;
    /* color: #f9f9f9; */
    color: black;
    /* border: 2px #f9f9f9 solid; */
    border-bottom: 2px black solid;
    transition: .4s;
  transform: .2s;
  }
  .loginB:hover{
    transition-delay: .1s;
    transform: scale(1.2);
    color:lightskyblue;
    border-bottom: 2px lightskyblue solid;
  }
  .loginB a{
    text-decoration: none;
    color: black;
  }
  .registerB{
    border: none;
    
    background-color: transparent;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
    font-size: 1.2rem;
    /* color: #f9f9f9; */
    color: black;
    /* border: 2px #f9f9f9 solid; */
    border-bottom: 2px black solid;
    margin-left: 10px;
    transition: .4s;
  transform: .2s;
  }
  .registerB:hover{
    transition-delay: .1s;
    transform: scale(1.2);
    color:lightskyblue;
    border-bottom: 2px lightskyblue solid;
  }