/* .home {
    background-image: url('../images/flat-geometric-background_23-2148957201.jpg');
    background-repeat: no-repeat;
    
} */
/* .home{
    /* background-image: url('../images/flat-geometric-background_23-2148957201.jpg'); */
    

.all{
    background-color: aliceblue;
    height: 100%;
    width: 100%;
    background-size: cover;
}
