.allC {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
    animation-name: switchimage;
    animation-duration: 20s;
    animation-iteration-count:infinite;
    background-size: cover;
  }

  .buttonG {
    display: inline-block;
    padding: 16px 32px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    color: white;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    border: 2px solid white;
    border-radius: 2em;
    overflow: hidden;
    transition: .5s;
    text-transform: uppercase;
  }
  @keyframes switchimage{
    0%{
      background-image: url(../switchimages/wepik-export-20230516155905LIn9.png);
  
    }
    25%{
      background-image: url(../switchimages/pexels-pixabay-325876.jpg);
    }
    50%{
      background-image: url(../switchimages/AdobeStock_119888051.jpg);
    }
    75%{
      background-image: url(../switchimages/neun-vorteile-von-second-hand-kleidungnikin-eu.jpg);
    }
    100%{
      background-image: url(../switchimages/F9tjZiPUEm-kkcdX20ZU5R_YpNBlnBeQvXfOphczskE.jpg);
    }
  }
  .buttonG:hover {
    padding: 26px 42px;
    color: white;
    transition-delay: .1s;
    
  }
  .buttonG::before{
    
    position: absolute;
     
    height: 12px;
    width: 12px;
    text-align: center; 
 }
  
  .buttonG::after{
    
    
    position: absolute;
    
  }
  .buttonG:hover::after{
    
    transition-delay: .0s;
    margin-left: -10px;
  }
  .buttonG span{
    visibility: hidden;
    opacity: 0;
    transition: .5s;
    transform: translate(-30xp);
  }
  .buttonG:hover span{
    visibility: visible;
    opacity: 1;
    transition-delay: .0s;
    transform: translateX(10px);
  }